.hiden {
    display: none;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 300px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  #weather-results {
    margin-top: 50px;
  }